/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#E3BC45;
}
.side-bar {
  background:#E3BC45;
}
.side-bar div:hover p {
    color:#E3BC45;
}

/* ===== me-border ===== */
.me-frame {
    position: relative;
    width: 531px;
    height:792px;
}

.me-img {
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    z-index: 2;
}
.frame-svg {
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}
.contact {
    width:300px;
    position:absolute;
    top:440px;
    left:516px;
    background: #fff;
    z-index: 2;
}
.contact p{
    color:#E3BC45;
    font-weight: 900;
    font-size: 32px;
    white-space: nowrap;
    writing-mode: vertical-lr;
}
/* ===== layout ===== */
.content {
    display: flex;
    padding:144px 260px 144px 260px;
    gap:200px;
}
.me-text {
    display: flex;
    flex-direction: column;
}
.me-name {
    width: 670px;
    height: 375px;
    position:relative;
    border-bottom:2px solid #E3BC45;
}
.me-name p {
    position: absolute;
}
.name-kanji, .name-kana01, .name-kana02{
    writing-mode: vertical-lr ;
    color:#E3BC45
}
.name-kanji{
    top:65px;
    left:112px;
    font-size: 66px;
    white-space: nowrap;
}
.name-kana01 {
    top:65px;
    left:61px;
    font-size: 20px;
}
.name-kana02 {
    top:150px;
    left:61px;
    font-size: 20px;
}
.name-eng {
    top:300px;
    left:230px;
    font-size:32px;
}
.me-intro {
    width:600px;
    padding-top: 50px;
}