/* ===== 共用 / 版面 canvas ===== */
.canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 1920px;
    transform-origin: top left;
}
.menu {
    position: fixed;
    top: 20px;    /* 距離畫面頂端 20px */
    right: 20px;  /* 距離畫面右側 20px */
    z-index: 9999; /* 確保顯示在其他元素上方 */
}
.menu.active {
    stroke:#fff;
}
p {
    line-height: 1.5;
    color:#000; font-size:20px; font-family: "kiwi maru";letter-spacing: 5px; font-weight: 400;
}

.contain-head {
    font-size: 32px; font-weight: 500; align-self: flex-start;
    display: inline-block; padding-bottom:5px ;
    border-bottom: 2px solid;
    margin-top: 100px;
}
/* ===== 側邊選單 ===== */
.side-bar {
    position: fixed;
    width:492px;
    height:1080px;
    right:-492px;
    z-index:9997;
    visibility: hidden;
    transition: right 0.3s ease, visibility 0s linear 0.3s;
}
.side-bar p {
    color:#fff;
    z-index:9998;
    white-space: nowrap;
}
.side-bar img {
    width:374px;
    padding-top:10px;
    opacity:0;
    transition:0.3s ease;
}

.side-bar.open {
    right:0;
    visibility: visible;
    transition:right 0.3s ease, visibility 0s linear 0s;
}
.side-bar-option {
    display:flex;
    flex-direction:column;
    padding-top:132px;
    padding-left:68px;
    gap:29px;
}

.side-bar div {
    width: 328px;
    height: 66px;
    transition: 0.3s ease;
}

.side-bar div:hover {
    width:374px;
    height:146px;
    padding:10px;
    background-color:#fff;
    transform:translate(0,-10px)
}

.side-bar div:hover img {
    opacity:1;
}
/* ===== scroll img ===== */
.scroll-zoom-frame {
    overflow: hidden;
}
.scroll-zoom-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.25);
    transition: transform 5s ease;
}
.scroll-zoom-frame img.in-view {
    transform: scale(1);
}
/* ===== footer ===== */
.footer div{
    position:relative;
}
.footer p {
    font-size: 30px;
    word-spacing: 2;
    font-weight: 900;
    color: #fff;
    position: absolute;
    bottom: 25px;
    right: 50px;
}