/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#888888;
}
.side-bar {
  background:#888888;
}
.side-bar div:hover p {
    color:#888888;
}
/* ===== 標題底線顏色 ===== */
.contain-head {
    border-bottom: 5px solid #888888;
}

/* ===== cover ===== */
.cover {
    position:relative;
    width:1920px;
    height:1109px;
}

.cover-img {
    position:absolute;
    top:128px;
}
.cover-title {
    font-size: 96px;
    position: absolute;
    top:820px;
    right:114px;
    line-height: 1;
}
.cover-text01{
    position:absolute;
    top:959px;
    right:114px;
    padding-bottom: 20px;
}
.cover-text02 {
    position: absolute;
    top: 989px;
    right: 114px;
}

/* ===== intro===== */
.show-poem {
    display: flex;
    flex-direction: column;
    gap:200px;
    align-items: center;
    justify-content: center;
}
.poem01,.poem02{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poem01 p,.poem02 p{
    font-size: 30px;
    display:inline-block;
    text-align: left;
    border-top: 2px solid #888888;
    padding-top: 20px;
    margin-top:50px;
    width:1500px;
}
.endthing {
    width:1920px;
    height:1335px;
    position: relative;
}
.endthing div:nth-child(1) {
    position:absolute;
    top:53px;
    left:297px;
}
.endthing div:nth-child(2) {
    position:absolute;
    top:192px;
    left:1131px;
}
.endthing div:nth-child(3) {
    position:absolute;
    top:724px;
    left:473px;
}

/* ===== element===== */
.element {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.element div {
    width:1500px;
    height:350px;
    display:flex;
    justify-content: space-between;
    margin: 130px 0 130px 0;
    padding:40px;
    align-items: center;

}
.element .contain-head {
    margin-bottom:-110px;
    padding-right: 1500px;
    padding-left: 0;
    margin-left:150px
}
.typo01 p,.typo02 p,.typo03 p {
    width:450px;
    height:195px;
}

/* ===== structure===== */
.structure {
    position:relative;
}
.structure img {
    position:absolute;
    top:174px;
    left:103px;
}
.structure .contain-head {
    position: absolute;
    top:1137px;
    left:161px;
    text-align: left;
    margin-top:0;
    padding-left: 0;
}
.structure-text {
    width:490px;
    height:200px;
    position: absolute;
    top:1205px;
    left:161px;
}