/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#888888;
}
.side-bar {
  background:#888888;
}
.side-bar div:hover p {
    color:#888888;
}
/* ===== 標題底線顏色 ===== */
.contain-head {
    border-bottom: 5px solid #888888;
}

/* ===== cover ===== */
.cover {
    position:relative;
    width:1920px;
    height:1109px;
}

.cover-img {
    position:absolute;
    top:128px;
}
.cover-title {
    font-size: 96px;
    position: absolute;
    top:871px;
    right:114px;
}
.cover-text01{
    position:absolute;
    top:959px;
    right:114px;
    padding-bottom: 20px;
}
.cover-text02 {
    position: absolute;
    top: 989px;
    right: 114px;
}

/* ===== intro===== */
.showpoem {
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
}
.poem01,.poem02 p{
    font-size: 25px;
    display:inline-block;
    border-top: 2px solid #888888;
    padding-top: 10px;
    margin-top:20px;
}
.endthing {
    width:1920px;
    height:1335px;
    position: relative;
}
.endthing img:nth-child(1) {
    position:absolute;
    top:53px;
    left:297px;
}
.endthing img:nth-child(2) {
    position:absolute;
    top:192px;
    left:1131px;
}
.endthing img:nth-child(3) {
    position:absolute;
    top:724px;
    left:473px;
}

/* ===== element===== */
.element {
    display:flex;
    flex-direction: column;
}
.element div {
    width:1667px;
    height:350px;
    display:flex;
    justify-content: space-between;
    margin: 130px 0 130px 0;
    padding:40px
}
.element .contain-head {
    margin-bottom:-110px
}