/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#586796;
}
.side-bar {
  background:#586796;
}
.side-bar div:hover p {
    color:#586796;
}
/* ===== 標題底線顏色 ===== */
.contain-head {
    border-bottom: 5px solid #586796;
}

/* ===== cover ===== */
.cover {
    position:relative;
    width:1920px;
    height:1109px;
}

.cover-logo {
    position:absolute;
    top:301px;
    left:271px;
    transform:scale(0.9);
}
.cover-img {
    position:absolute;
    right:0;
}

.cover-text01{
    position:absolute;
    top:768px;
    right:912px;
    padding-bottom: 20px;
}
.cover-text02 {
    position: absolute;
    top: 798px;
    right: 912px;
}
/* ===== intro ===== */
.intro img {
    position: absolute;
    top:40px;
    left:57px;
}
.questionnaire div {
    width:750px;
    background: #B0B4BA;
    border-radius: 25px;
    padding:40px 20px 20px 20px;
    position: relative;
}
.questionnaire .tag {
    position: absolute;
    background: #fff;
    color:#586796;
    border-radius:34px ;
    top:-14px;
    left:-14px;
    padding:5px 10px 5px 10px;

}
/* ===== type ===== */
.type {
    position:relative;
    display: flex;
    flex-direction: column;
    gap:90px;

}
.type p{
    position: absolute;
    top:627px;
    left:73px;
}

/* ===== element ===== */
.element {
    position:relative;
    height:2170px;
}
.castle {
    position:absolute;
    bottom:0;
    margin-bottom: -10px;
}
.mountain {
    position:absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -10px;
}
.logo {
    z-index: 5000;
}
.logo-01 {
    position: absolute;
    top:850px;
    left:551px;
    transform: scale(1.1);
}
.logo p {
    position: absolute;
    top:1449px;
    left:891px;
}
.element .contain-head {
    position:absolute;
    top:603px;
    left:311px;
    z-index: 5000;
}