/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#B94342;
}
.side-bar {
  background:#B94342;
}
.side-bar div:hover p {
    color:#B94342;
}

/* ===== 側邊選單:對應改色 ===== */
.cover {
    display:flex;
}

.cover-logo {
    position:absolute;
    padding:211px 123px 211px 130px;
    max-width: 100% + height: auto
}
.cover-img {
    top:0;
    right:0;
}
