/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#B94342;
}
.side-bar {
  background:#B94342;
}
.side-bar div:hover p {
    color:#B94342;
}

/* ===== 側邊選單:對應改色 ===== */
.cover {
    position:relative;
    width:1920px;
    height:1109px;
}

.cover-logo {
    position:absolute;
    top:211px;
    left:130px;
}
.cover-img {
    position:absolute;
    right:0;
}
