/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#B94342;
}
.side-bar {
  background:#B94342;
}
.side-bar div:hover p {
    color:#B94342;
}

/* ===== cover ===== */
.cover {
    position:relative;
    width:1920px;
    height:1109px;
}

.cover-logo {
    position:absolute;
    top:211px;
    left:130px;
}
.cover-img {
    position:absolute;
    right:0;
}

.cover-text01{
    position:absolute;
    top:696px;
    left:198px;
    padding-bottom: 20px;
}
.cover-text02 {
    position: absolute;
    top: 726px;
    left: 198px;
}

/* ===== intro===== */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    top:0;
    gap:102px;
}

/* ===== element===== */
.element {
    display:flex;
    flex-direction: column;
}
.logo {
    position:relative;
    padding-bottom:  200px;
    height:650px;/* ===== fake absolute支撐用===== */
}
.logo-01 {
    position:absolute;
    width:555px;
    top:200px;
    left:165px;
}
.logo-02 {
    position:absolute;
    width:421px;
    top:200px;
    left:826px;
}
.logo-03 {
    position:absolute;
    width:421px;
    top:200px;
    left:1338px;
}
.logo p {
    position:absolute;
    padding:10px;
    top:679px;
    left:793px;
}
.magic {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 74px;
}
.example {
    justify-content: center;
    margin-top: 100px;
    display:flex;
    gap:64px;
}
.magicthing {
    justify-content: center;
    margin-top: 50px;
    display: flex;
    gap:0;
}