/* ===== 共用 / 版面 canvas ===== */
.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    transform-origin: top left;
}
.menu {
    position: fixed;
    top: 20px;    /* 距離畫面頂端 20px */
    right: 20px;  /* 距離畫面右側 20px */
    z-index: 9999; /* 確保顯示在其他元素上方 */
}
.me-happy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 5000;
    pointer-events: none
}

p {
    line-height: 1.3;
}

.me-start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 5000;
}
/* ===== 側邊選單 ===== */
.side-bar {
    position: fixed;
    width:492px;
    height:1080px;
    background:#E3BC45;
    display: flex;
    justify-content: center;
    align-content: center;
    right:-492px;
}
.side-bar.open {
    right:0;
}

.side-bar div {
    transition: 0.3s ease
}
.side-about-me:hover {
    width:374px;
    height:146px;
    background-color:#fff;
}
.side-about-me:hover p {
    color:#E3BC45;
}
/* ===== 背景paint ===== */
.paint {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1920px;   /* 你 Figma 畫布的寬 */
    height: 1080px;   /* 你 Figma 畫布的高 */
    transform: translate(-50%, -50%);
    z-index: 4998;
}

.biggest-paint {
    position: absolute;
    top: 21px;      /* ← 換成 Figma 上這個 svg 相對畫布左上角的實際 y */
    left: 207px;     /* ← 換成 Figma 上這個 svg 相對畫布左上角的實際 x */
}
.paint-01 {
    position: absolute;
    top:750px;
    left:1350px;
}

.paint-02 {
    position: absolute;
    top:131.65px;
    left:1446.27px;
}

.paint-03 {
    position: absolute;
    top:90.51px;
    left:1310.99px;
}

.paint-04 {
    position: absolute;
    top:264px;
    left:0px;
}

.background-text {
  position: fixed;
    z-index: 5000; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background-text span {
    position: absolute;
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 255px;
    white-space: nowrap; /* 避免文字自己換行 */
}

.lai {
    top: 381px;    /* ← 換成 Figma Inspect 給的實際 y */
    left: 393px;  /* ← 換成 Figma Inspect 給的實際 x */
    transform: rotate(-5deg);
    transform-origin: top left;
}

.chieh {
    top: 628px;   /* ← 換成 Figma Inspect 給的實際 y */
    left: 213px;   /* ← 換成 Figma Inspect 給的實際 x */
    transform: rotate(-5deg);
    transform-origin: top left;
}

.lu {
    top: 468px;    /* ← 換成 Figma Inspect 給的實際 y */
    left: 1242px; /* ← 換成 Figma Inspect 給的實際 x */
    transform: rotate(-5deg);
    transform-origin: top left;
}

/* ===== 作品選單 main-menu ===== */
.menu-background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1920px;   /* 你 Figma 畫布的寬 */
    height: 1080px;   /* 你 Figma 畫布的高 */
    transform: translate(-50%, -50%);
    z-index: 4998;
}

.menu-background svg {
    position: absolute;
}

.menu-background path {
    transition: stroke 0.5s ease;
}

.line01 { top: 141px; left: 1293px;}
.line02 { top: 454px; left: 1536px;}
.line03 { top: 88px; left: 996px;}
.line04 { top: 204px; left: 906px;}
.line05 { top: 64px; left: 535px;}
.line06 { top: 517px; left: 1092px;}
.line07 { top: 348px; left: 660px;}
.line08 { top: 508px; left: 701px;}
.line09 { top: 458px; left: 455px;}
.line10 { top: 448px; left: 282px;}
.line11 { top: 739px; left: 677px;}
.line12 { top: 739px; left: 392px;}

.menu-option {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1920px;   /*  Figma 畫布的寬 */
    height: 1080px;   /*  Figma 畫布的高 */
    transform: translate(-50%, -50%);
    z-index: 4999;
}

.menu-option img {
    position: absolute;
    transition:transform 0.3s ease;
}

.menu-option div {
    position: absolute;
}
/* ===== toki ===== */
.menu-toki {
    top:150px;
    left:141px;
}

.menu-toki:hover {
    transform:scale(1.2);
}

.menu-background.highlight01 path{
    stroke: #529D7F;
}

.menu-toki-title {
    top:134PX;
    left:99PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-toki-text {
    top:230PX;
    left:331PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-toki:hover ~ .menu-toki-title, 
.menu-toki:hover ~ .menu-toki-text {
    opacity: 1
}
/* ===== web ===== */
.menu-web {
    top:344px;
    left:440px;
}
.menu-web:hover {
    transform:scale(1.2);
}

.menu-background.highlight02 path{
    stroke: #C93AA1;
}

.menu-web-title {
    top:458PX;
    left:322PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-web-text {
    top:269PX;
    left:492PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-web:hover ~ .menu-web-title, 
.menu-web:hover ~ .menu-web-text {
    opacity: 1
}
/* ===== ice ===== */
.menu-ice {
    top:583px;
    left:141px;
}
.menu-ice:hover {
    transform:scale(1.2);
}

.menu-background.highlight03 path{
    stroke: #586796;
}

.menu-ice-title {
    top:563PX;
    left:402PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-ice-text {
    top:610PX;
    left:423PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-ice:hover ~ .menu-ice-title, 
.menu-ice:hover ~ .menu-ice-text {
    opacity: 1
}
/* ===== slime ===== */
.menu-slime {
    top:767px;
    left:440px;
}
.menu-slime:hover {
    transform:scale(1.2);
}

.menu-background.highlight04 path{
    stroke: #B94342;
}

.menu-slime-title {
    top:891PX;
    left:217PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-slime-text {
    top:938PX;
    left:268PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-slime:hover ~ .menu-slime-title, 
.menu-slime:hover ~ .menu-slime-text {
    opacity: 1
}
/* ===== eraser ===== */
.menu-eraser {
    top:186px;
    left:1381px;
}
.menu-eraser:hover {
    transform:scale(1.2);
}

.menu-background.highlight05 path{
    stroke: #888888;
}

.menu-eraser-title {
    top:323PX;
    left:1471PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-eraser-text {
    top:370PX;
    left:1562PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-eraser:hover ~ .menu-eraser-title, 
.menu-eraser:hover ~ .menu-eraser-text {
    opacity: 1
}
/* ===== illustration ===== */
.menu-illustration {
    top:479px;
    left:1614px;
}
.menu-illustration:hover {
    transform:scale(1.2);
}

.menu-background.highlight06 path{
    stroke: #ADC8C3;
}

.menu-illustration-title {
    top:418PX;
    left:1406PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-illustration-text {
    top:463PX;
    left:1327PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-illustration:hover ~ .menu-illustration-title, 
.menu-illustration:hover ~ .menu-illustration-text {
    opacity: 1
}
/* ===== graphic ===== */
.menu-graphic {
    top:766px;
    left:1431px;
}
.menu-graphic:hover {
    transform:scale(1.2);
}

.menu-background.highlight07 path{
    stroke: #919A5C;
}

.menu-graphic-title {
    top:693PX;
    left:1256PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-graphic-text {
    top:913PX;
    left:1530PX;
    opacity:0;
    transition:opacity 0.8s ease 0.1s/* 最後指延遲時間 */
}

.menu-graphic:hover ~ .menu-graphic-title, 
.menu-graphic:hover ~ .menu-graphic-text {
    opacity: 1
}
/* ===== guide ===== */
.menu-guide {
    position: absolute;
    top:88px;
    left:481px;
    z-index: 4999;
    transition: opacity 0.8s ease 0.1s
}

.main-menu:has(.menu-option img:hover) .menu-guide {
    opacity:0
}

/* ===== 開場動畫 scroll-finish ===== */
.paint,
.background-text {
    opacity:1;
    transition: opacity 0.6s ease;
}

.paint.fade-out,
.background-text.fade-out {
    opacity: 0;
    pointer-events: none;
}

.menu-background,
.menu-option {
    opacity: 0;
    transform: translate(-50%, -50%) translate(-1920px, -1080px);
    transition: transform 1s ease, opacity 0.1s ease;
    pointer-events: none;
}


.menu-background.in-view,
.menu-option.in-view {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform 1.5s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.1s ease;
    pointer-events: auto;
}

.menu-guide {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.menu-guide.fade-in {
    opacity: 1;
}
