/* ===== 側邊選單:對應改色 ===== */
.menu {
    stroke:#529D7F;
}
.side-bar {
  background:#529D7F;
}
.side-bar div:hover p {
    color:#529D7F;
}
/* ===== 標題底線顏色 ===== */
.contain-head {
    border-bottom: 5px solid #529D7F;
}

/* ===== cover ===== */
.cover {
    position:relative;
    width:1920px;
    height:1109px;
}

.cover-img {
    position:absolute;
    top:128px;
}
.cover-title {
    font-size: 96px;
    position: absolute;
    top:820px;
    right:114px;
    line-height: 1;
}
.cover-text01{
    position:absolute;
    top:959px;
    right:114px;
    padding-bottom: 20px;
}
.cover-text02 {
    position: absolute;
    top: 989px;
    right: 114px;
}

/* ===== intro===== */
<<<<<<< HEAD
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    top:0;
}

.gallery {
    position:relative
}
.gallery div {
    position:absolute
}
.gallery div:nth-child(1) {
    top:97px;
    left:368px;
}
.gallery div:nth-child(2) {
    top:204px;
    left:1026px;
}
.gallery div:nth-child(3) {
    top:866px;
    left:194px;
}
.gallery div:nth-child(4) {
    top:750px;
    left:917px;
    z-index: 2000;
}
.gallery div:nth-child(5) {
    top:891px;
    left:1266px;
}


=======
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    top:0;
}
.gallery{
    position:relative;
}
>>>>>>> 971608eed0418f180235384b9096dc8a4ca5ab8f
/* ===== element===== */
.element {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.up-img {
    position: relative;
}
.up-img p {
    writing-mode: vertical-lr;
    position: absolute;
}
.up-img p:nth-child(1) {
    top:229px;
    left:165px;
}
.up-img p:nth-child(2) {
    top:744px;
    left:165px;
}
.up-img p:nth-child(3) {
    top:1272px;
    left:165px;
}
.element .contain-head {
    margin-bottom:-110px;
    padding-right: 1500px;
    padding-left: 0;
    margin-left:150px
}